html, body {
    margin:0;
}

body {
    overflow-x: hidden;
}

.selector {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

.selector > ul {
    list-style-type: none;
    position:relative;
    float:right;
}

.selector > span {
    float:right;
}

li {
    padding: 3px;
    list-style-type: none;
    background-color: #fff;
}

li:hover {
    background-color: #ddd;
    cursor: pointer;
}

ul > .active {
    background-color: yellow;
}

.selector ul li {
    float: none;
    vertical-align: middle;
    position: relative;
}

.selector ul ul {
    position: absolute;
    top: 1px;
    right: 99%;
    display: none;
    border: 1px solid #0082e7;
    padding: 5px;
}

.first-menu:hover ul, .more:hover ul {
    display:block;
}


nav:hover,nav.expanded {
width:250px;
overflow:visible;
}

nav {
    background:#fbfbfb;
border-left:1px solid #e5e5e5;
height:100%;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

nav > ul {
    margin:0 7px;
    padding: 0;
}

nav li {
    display:block;
    width:250px;
}

nav ul, nav li {
    outline: 0;
margin: 0;
padding: 0;
}