#bigger {
    display: none;
    background:#fff;
    border:2px solid #000;
    max-height:800px;
    font-family: FoundryMonolineRegular,Arial,Helvetica,sans-serif;
    width:90%;
    margin-left:10px;
    font-size: 5em;
    color:black;
}

#litena {
    font-size: 15px;
}

.aA
{
    letter-spacing: -2px;
    text-align: right;
    color: #fff;
    line-height: 1;
    position: absolute;
    left: 422px;
    top: 22px;  
    width: 13em;
    z-index: 1001;
    font-size: 20px;
    color: #fff;
    max-width: 34px;
}
.aA:hover + #bigger, .aA:active + #bigger {
    display: block;
}