html {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #eceef1;
}

body {
    min-width: 930px;
    color: #4d4f53;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    margin: 8px;
    
}

header {
    display: block;
    background: #e32d22;
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
    left: 0;
    z-index: 900;
    
}

.feilmld, #samt{
   color:#009933;
   font-weight: bold;
}

.illustration {
    overflow: hidden;
    display: block;
    width: 245px;
    height: 153px;
    background-size: 245px 153px;
    background-position: bottom left;
    -webkit-background-clip: padding-box;
    background-image: url(IMG/news.png);
    float: right;
    margin: 0 0 3em 3em;
}

#feilTing {
    background-color: #fff;
    padding: .7em 1em .7em 2.2em;
    margin-top: .4em;
    margin-bottom: .8em;
    position: relative;
    font-size: 1em;
    border: 2px solid #fdbb2f;
    display:none;
}

#postentitle {
    text-align: right;
    vertical-align: bottom;
    font-size: 30px;
    color: #fff;
    padding: .5em 1em 0 1em;
}

#digititle, #digia {
    font-size: 1em;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 3em;
    padding: .5em 0 0 1em;
    width: 13em;
    z-index: 901;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    max-width: 100px;
    max-height: 40px;
}

section {
    padding-top: 8em;
    margin: 0 auto;
    width: 61.5em;
    
}

#sprak {
    margin-bottom: 2em;
    
}

#sprak a {
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}

.button {
    background-color: #fff;
    margin-left: 0;
    margin-right: .5em;
    margin-bottom: 7px;
    padding-bottom: .5em;
    padding-top: .5em;
    padding-right: 1em;
    padding-left: 1em;
    display: inline-block;
    font: 13.3333px Arial;
    color: #4D4F53;
    width: 60px;
    word-spacing: normal;
    text-align: center;
    cursor: pointer;
}

.active {
    background-color: #4d4f53;
    color: #fff;
}

#progressbox {
    height: 3em;
    margin-bottom: 2em;
}

#progressbox p.text-active {
    color: #999;
    width: 33.3%;
    float: left;
    font-family: FoundryMonolineRegular,Arial,Helvetica,sans-serif;
    margin-bottom: .5em;
    color: #4D4F53;
}

#progressbox p.text-inactive {
    color: #999;
    width: 33.3%;
    float: left;
    font-family: FoundryMonolineRegular,Arial,Helvetica,sans-serif;
    margin-bottom: .5em;
    
}

#progressbar {
    background-color: #fff;
    width: 100%;
    height: .5em;
    float: left;
    
}

#progress {
    background-color: #4D4F53;
    width: 32.5%;
    height: 100%;
    float: left;
    
}

form {
    padding-bottom: 5em;
    margin: 0;
    padding: 0;
    
}

#poster {
    padding: 2em;
    background: url(IMG/croissant.jpg);
    height: 180px;
    background-position: center center;
    margin: 0 0 30px;
    position: relative;
}

ul {
    top: 30px;
    padding: 12px 6px;
    color: #edf0f3;
    background: #000;
    background: rgba(0,0,0,.4);
}

.checkmark {
    display: inline-block;
    font: 400 normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

.checkmark::before {
    content:'\2713';
    display:inline-block;
    color:#edf0f3;
    padding:0 6px 0 0;
    
}

#poster ul {
    left: 0;
    position: absolute;
    
}

li {
    font-family: FoundryMonolineRegular,Arial,Helvetica,sans-serif;
    font-size: 1em;
    letter-spacing: 0;
}

ul, li {
    padding: 8px;
}

.box {
    position: relative;
    background: #f6f6f7;
    border: 0;
    padding: 2em 2em 1em;
    margin-bottom: 2em;
    background: #fff;
    
}

.fields p.desk {
        margin: 0 0 1em;
}

.box p {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    max-width: 50em;
}

.box label {
    text-align: right;
    display: block;
    float: left;
}
#vilk{
    padding-left: 1em;
}

.inputfield {
    background: #fff;
    color: #4C4E52;
    padding: .6em;
    border: 2px solid #dde1e6;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    width: 300px;
    margin: 0 10px 0 0;
}

.inputfield:focus {
    border: 2px solid #42BBE3;
}

.box a {
    outline: 0;
    cursor: pointer;
    color: #006FB7;
    text-decoration: none;
   }

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label span {
    background: url(IMG/emptycheckbox.svg) left top no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: .3em;
    margin-bottom: .2em;
    vertical-align: middle;
    transition: all .2s ease-in-out;
    border: 2px solid transparent;
}

input[type="checkbox"]:checked + label span {
    background:url(IMG/activecheckmark.svg) left top no-repeat;
}

.buttonsubmit {
    display: inline-block;
    position: relative;
    overflow: visible;
    width: auto;
    padding: 7px 20px 8px;
    margin: 0 5px 5px 0;
    border-radius: 0;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;
    font-size: 15px;
    font-family: FoundryMonolineRegular,Arial,Helvetica,sans-serif;
    line-height: 1.5;
    color: #fff;
    border: 0;
    transition: all .2s ease-in-out;
    background-color: #e32d22;
    cursor: pointer;
    
}

.checkbox-wrapper {
    margin-bottom: .9em;
}

.clear {
    clear: both;
}

.link {
    font-weight: 400;
    text-align: right;
}

img{
    width: 100%;
    height: 17.5em;
    padding: 0%;
    display: block;
    padding-bottom: 20px;

}
#vilkar-div {
    border: 1px solid black;
    padding: 50px;
    line-height: 200%;
    margin: auto;
}

article {
    padding-top: 8em;
    margin: 0 auto;
    width: 61.5em;
}

.line, .status {
    position: absolute;
    top: 13px;
    right: 20px;
    width: 100px;
    height: 10px;
    vertical-align: baseline;
    background: #eee;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
}

.status {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: #eee;
    min-width: .7em;
    max-width: 100%;
}

.meter {
    display: inline-block;
    position: relative;
}

.vilk-link {
    float: right;
    font-weight: 400;
    text-align: right;
}
table tbody tr td .tags {
    float:none;
}

table tbody tr td {
    min-width: 150px;
}

#disclaimer {
    display:none;
}

.mobfeil {
    display:none;
}

@media only screen and (max-width: 500px) {
    body {
        min-width: 95%;
        margin: 0px;
    }
    
    section {
        width: 100%;
        padding-top: 3em;
        
    }
    
    .aA {
        display:none;
    }
    
    #sprak {
        display: none;
    }
    
    .box {
        padding: 2em 0.4em 1em;
    }
    
    table tbody tr td {
        min-width: 0px;
        max-width: 240px;
    }
    
    table {
        max-width: 350px;
    }
    
    .inputfield {
        width: 100%;
        margin: 0 15% 0 0;
    }
    
    .feilmld {
        display:none;
    }
    
    .line {
        right: 3px;
        width: 40%;
    }
    
    #disclaimer {
        display: block;
        border: 2px solid #fdbb2f;
        font-size: 2em;
    }
    
    .mobfeil {
        display:block;
        border: 2px solid #fdbb2f;
        margin-bottom: 5%;
        color:#009933;
    }
    
    .mobfeil ul {
        background-color:#eceef1;
    }
}